<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nestor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
      document.getElementById("myButton").onclick = function () {
          location.href = "www.yoursite.com";
      };
  </script>
  </head>
  <body>
    <div id="contact">
      <h1>Enter your name</h1>
      <form action="/update" method="post">
          <fieldset>
              <label for="firstName">firstName:</label>
              <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" />
  
              <label for="lastName">lastName:</label>
              <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" />
  
              <!-- <label for="message">Message:</label>
              <textarea id="message" placeholder="What's on your mind?"></textarea> -->
  
              <input type="submit" value="Send message" />
  
          </fieldset>
      </form>
  </div>
  <p>
    here is the data
      <%= dataToSend  %>
  </p>
  <table class="tr">
    <% for(var i = 0; i < rows.length; i++) { %>
        <tr>
          <th><%= rows[i].rowNum %></th>
          <th><%= rows[i].dateTaskEnter %></th>
          <th><%= rows[i].dueDate %></th>
          <th><%= rows[i].title %></th>
          <th><%= rows[i].comments %></th>
          <th><%= rows[i].priority %></th>
          <th><%= rows[i].completion %></th>
          <th><%= rows[i].status %></th>
          <th><form action=/edit method="GET"><input type="hidden" name="row" value="<%= rows[i].rowNum %>" ><input type="submit" value="Edit"></form></th>
        </tr>
    <% } %>  
  </table>  
</body>
</html>
