<% include ./functions %> 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nestor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div id="contact">
      <form action="/update" method="post">
          <fieldset>
            <legend>Nestor APP</legend>
              <label for="firstName">firstName:</label>
              <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" />
  
              <label for="lastName">lastName:</label>
              <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" />
  
              <input type="submit" value="Send message" />
              <p>
                Your name 
                  <%= dataToSend  %>
              </p>
          </fieldset>
      </form>
  </div>

  <fieldset>
  <table class="tr">
    <tr>
      <th>Row Number</th>
      <th>Date Task Enter</th>
      <th>Due Date</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Completion</th>
      <th> </th>
    </tr>
    <% for(var i = 0; i < rows.length; i++) { %>
        <tr>
          <td><%= rows[i].rowNum %></td>
          <td><%= rows[i].dateTaskEnter %></td>
          <td><%= rows[i].dueDate %></td>
          <td><%= rows[i].title %></td>
          <td><%= rows[i].comments %></td>
          <td><%= rows[i].priority %></td>
          <td><%= getStatus(rows[i].status) %></td>
          <td><%= getCompletion(rows[i].completion) %></td>
          <td><form action=/edit method="GET"><input type="hidden" name="row" value="<%= rows[i].rowNum %>" ><input type="submit" value="Edit"></form></td>
        </tr>
    <% } %> 
  </table> 
</fieldset> 
</body>
</html>